/vendor/
node_modules/
/.env
/.env.*
!/.env.example
/.phpunit.result.cache
/storage/*.key
/storage/app/public/
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*
/public/build/
/public/hot
